<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mars Data</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="style.css">
  
</head>

<body>
  <div class="container">
    <div class="jumbotron text-center">
      <h1>Mission to Mars</h1>
      <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape New Data</a></p>
    </div>
    <h2>Latest Mars News</h2>
    <h4>{{mars_data.news_title}}</h4>
    <p>{{mars_data.news_p}}</p>
    <div class="row">
      <div class="col-md-8">
        <h2>Featured Mars Image</h2>
        <img src="{{ mars_data.featured_image_url }}" width = 100% alt="Featured_Image">
      </div>
      <div class="col-md-4">
        <div class="row">
          <h4>Current Weather on Mars</h4>
          <p>{{mars_data.mars_weather}}</p>
        </div>
        <div class="row">
          <h4>Mars Facts</h4>
         <table border="1" class="dataframe"> <thead> <tr style="text-align: right;"> <th></th> <th>Mars Fact</th> <th>Value</th> </tr> </thead> <tbody> <tr> <th>0</th> <td>Equatorial Diameter:</td> <td>6,792 km</td> </tr> <tr> <th>1</th> <td>Polar Diameter:</td> <td>6,752 km</td> </tr> <tr> <th>2</th> <td>Mass:</td> <td>6.39 × 10^23 kg (0.11 Earths)</td> </tr> <tr> <th>3</th> <td>Moons:</td> <td>2 (Phobos &amp; Deimos)</td> </tr> <tr> <th>4</th> <td>Orbit Distance:</td> <td>227,943,824 km (1.38 AU)</td> </tr> <tr> <th>5</th> <td>Orbit Period:</td> <td>687 days (1.9 years)</td> </tr> <tr> <th>6</th> <td>Surface Temperature:</td> <td>-87 to -5 °C</td> </tr> <tr> <th>7</th> <td>First Record:</td> <td>2nd millennium BC</td> </tr> <tr> <th>8</th> <td>Recorded By:</td> <td>Egyptian astronomers</td> </tr> </tbody> </table>
          <!--{{mars_data.html_table}}-->
        </div>
      </div>
    </div>
    <div class="row">
      <h2 class="text-center">Mars Hemispheres</h2>
      <hr>
      <div class="col-md-6">
        <img src="{{ mars_data.hemisphere_image_urls[0]['img_url'] }}" width = 100% alt="Featured_Image">
        <h3>{{mars_data.hemisphere_image_urls[0]['title']}}</h3>
      </div>
      <div class="col-md-6">
        <img src="{{ mars_data.hemisphere_image_urls[1]['img_url'] }}" width = 100% alt="Featured_Image">
        <h3>{{mars_data.hemisphere_image_urls[1]['title']}}</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <img src="{{ mars_data.hemisphere_image_urls[2]['img_url'] }}" width = 100% alt="Featured_Image">
        <h3>{{mars_data.hemisphere_image_urls[2]['title']}}</h3>
      </div>
      <div class="col-md-6">
        <div class="border">
          <img src="{{ mars_data.hemisphere_image_urls[3]['img_url'] }}" width = 100% alt="Featured_Image">
          <h3>{{mars_data.hemisphere_image_urls[3]['title']}}</h3>
        </div>
      </div>
    </div>
  </div>
</body>

</html>